@font-face {font-family: 'RooneySans';font-weight: 300;font-style: normal;src: url(../res/rooney_sans/light.woff) format('woff')} 
@font-face {font-family: 'RooneySans';font-weight: 400;font-style: normal;src: url(../res/rooney_sans/normal.woff) format('woff') } 
@font-face {font-family: 'RooneySans';font-weight: 400;font-style: italic;src: url(../res/rooney_sans/italic.woff) format('woff') } 
@font-face {font-family: 'RooneySans';font-weight: 500;font-style: normal;src: url(../res/rooney_sans/semibold.woff) format('woff')} 
@font-face {font-family: 'RooneySans';font-weight: 600;font-style: normal;src: url(../res/rooney_sans/bold.woff) format('woff')} 


@font-face {
    font-family:'ProximaNova';
    src:url('../res/proxima_nova/light.eot');
    src:url('../res/proxima_nova/light.eot?#iefix') format('embedded-opentype'), url('../res/proxima_nova/light.woff') format('woff'), url('../res/proxima_nova/light.ttf') format('truetype');
    font-weight:300
}

@font-face {
    font-family:'ProximaNova';
    src:url('../res/proxima_nova/normal.eot');
    src:url('../res/proxima_nova/normal.eot?#iefix') format('embedded-opentype'), url('../res/proxima_nova/normal.woff') format('woff'), url('../res/proxima_nova/normal.ttf') format('truetype')
}

@font-face {
    font-family:'ProximaNova';
    src:url('../res/proxima_nova/semibold.eot');
    src:url('../res/proxima_nova/semibold.eot?#iefix') format('embedded-opentype'), url('../res/proxima_nova/semibold.woff') format('woff'), url('../res/proxima_nova/semibold.ttf') format('truetype');
    font-weight:500
}
@font-face {
    font-family:'ProximaNova';
    src:url('../res/proxima_nova/bold.eot');
    src:url('../res/proxima_nova/bold.eot?#iefix') format('embedded-opentype'), url('../res/proxima_nova/bold.woff') format('woff'), url('../res/proxima_nova/bold.ttf') format('truetype');
    font-weight:bold
}