div.autocenter {
    margin: auto;
    width: 200px;
    height: 200px;
    margin-top: 0;
    /* -webkit-filter: blur(5px) contrast(15); */
    /* border-radius: 50%; */
    position: relative;
    -webkit-filter: url("#goo");
    filter: url("../#goo");
}

/* SCROLLBARS */

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-ms-scrollbar {
    display: none;
}

::scrollbar {
    display: none;
}

/* HELPERS */
#helper {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    border-right: 1px solid rebeccapurple;
    border-bottom: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.ninja{
    display: none !important;
}

.full-wh {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 50px;
    background: hsl(0, 0%, 95%);
    visibility: hidden;
}

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

html {
    overflow-x: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html:not(.no-scroll) body {
}

/* INTRO */
div#intro {
    perspective: 2000px;
    perspective-origin: 50vw 50vh;
    -webkit-perspective: 2000px;
    -webkit-perspective-origin: 50vw 50vh;
    overflow: hidden;
    position: relative;
    /* background: hsl(350, 100%, 62%); */
    visibility: visible;
}

#loading-svg {
    position: absolute;
    /* z-index: 2; */
    top: calc(50vh - 135px);
    left: calc(50vw - 960px);
    top: -webkit-calc(50vh - 135px);
    left: -webkit-calc(50vw - 960px);
}

#loading-circle {
    stroke-dasharray: 440px, 427px;
    stroke-dashoffset: -440px;
    stroke-width: 10px;
    fill: transparent;
    stroke: hsl(0, 100%, 100%);
    stroke: hsl(350, 100%, 62%);
}

#loading-circle-svg {
    position: absolute;
    left: 0;
    top: 0;
}

.intro-ring {
    fill: none;
    stroke: #343434;
    stroke-width: 4px;
    stroke-linejoin: bevel;
    stroke-miterlimit: 10;
    stroke-dasharray: 0, 2062.75537109375px;
    stroke: rgb(0, 145, 242);
}

path.intro-ring:nth-child(2) {
    stroke: rgb(208, 208, 208);
}


.loading-text {
    /* display: none; */
    position: absolute;
    left: 0;
    top: calc(50vh - 200px);
    top: -webkit-calc(50vh - 240px);
    width: 100%;
    text-align: center;
    color: hsl(350, 100%, 62%);
    text-shadow: -1px -1px rgba(255, 255, 255, 0.5), 1px 1px rgba(0, 0, 0, 0.5);
    font-family: Helvetica, Calibri, Fira, sans-serif;
    font-size: 26pt;
    color: rgb(229, 229, 229);
    line-height: 1.42857143;
}

/*LOADING */

#loading-spinner-container {
    width: 252px;
    height: 252px;
    /* background: rgb(255, 0, 0); */
    position: absolute;
    top: calc(50vh - 126px);
    left: calc(50vw - 126px);
    top: -webkit-calc(50vh - 126px);
    left: -webkit-calc(50vw - 126px);
    overflow: hidden;
    border-radius: 660px;
    padding: 26px;
    display: block;
    z-index: 1;;
}

.no-scroll{
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 24px;
    left: 24px;
    border: 10px solid #FCFCFC;
    border-radius: 50%;
}

.middle-wrapper {
    width: 58px;
    height: 58px;
    position: relative;
    top: 71px;
    left: 71px;
    /*    background: yellow;
        border-left: 10px solid blue;*/
    animation: rotateCW 4.8s 0s steps(6) infinite;
    -webkit-animation: rotateCW 4.8s 0s steps(6) infinite;
}

.middle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background: #FCFCFC;
    animation: pulse 1.6s 0.0s infinite ease-out;
    -webkit-animation: pulse 1.6s 0.0s infinite ease-out;
    background: hsl(350, 100%, 62%);
}

div.particle-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 100px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.particle {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    left: -10px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    animation-duration: 2.4s;
    -webkit-animation-duration: 2.4s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    border-radius: 50%;
    background: hsl(0, 0%, 99%);
    animation-direction: normal;
    -webkit-animation-direction: normal;
    /* -webkit-animation: none !important; */
    background: hsl(350, 100%, 62%);
}

.particle.even {
    animation-name: even;
    -webkit-animation-name: even;
}

.particle-wrapper:nth-child(3n+1)>.particle {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.particle-wrapper:nth-child(3n+2)>.particle {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

#goo-svg {
    /* display: none; */
    position: absolute;
    z-index: -999;
    visibility: hidden;
}


@keyframes even {
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(68px);
        animation-timing-function: cubic-bezier(0.5, 0.05, 0.9, 0.05);
    }
    35% {
        transform: translateX(68px);
        animation-timing-function: cubic-bezier(0, 0.05, 0.5, .9);
    }
    100% {
        transform: translateX(0px);
    }
}


@-webkit-keyframes even {
    0% {
        -webkit-transform: translateX(0px);
    }
    10% {
        -webkit-transform: translateX(0px);
    }
    30% {
        -webkit-transform: translateX(68px);
        -webkit-animation-timing-function: cubic-bezier(0.5,0.05,0.9,0.05);
    }
    35% {
        -webkit-transform: translateX(68px);
        -webkit-animation-timing-function: cubic-bezier(0,9.0.05,0.5,.9);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}


@keyframes pulse {
    
    25% {
        transform: scale(1)
    }
    30% {
        transform: scale(1.45, 0.70)
    }
    50% {
        transform: scale(1)
    }
}


@-webkit-keyframes pulse {
    
    25% {
        -webkit-transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1.45, 0.70)
    }
    50% {
        -webkit-transform: scale(1)
    }
}

@keyframes rotateCW {
    
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateCW {
    
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.deg-60 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.deg-120 {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}

.deg-180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.deg-240 {
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
}
.deg-300 {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
