#lab {

}

#lab-foreground{
    position: absolute;
    width: 75%;
    width: calc(100% - 400px);
    left: 0;
    top: 50px;
    height: calc(100% - 50px);
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    display: table;
}

#lab-foreground:hover #lab-foreground-img {
    opacity: 1;
}

#lab-foreground-img {
    position: absolute;    
    z-index: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
    height: 100%;
}

#lab-foreground>.table-cell>a {
    text-align: center;
    background-color: hsl(350, 100%, 52%);
     color: hsl(0,0%,95%);
    text-decoration: none;
    font-size: 25pt;
    padding: 10px 25px;
    margin: auto;
    vertical-align: middle;
    font-family: ProximaNova;
    
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.60);
    border-radius: 3pt;
    position: relative;
    z-index: 2;
    display: inline-block;
}

#lab .menu {
}

#lab .title.lab-title {
    font-size: 12pt;
}

#lab>.perspective {
    perspective: 500px;
    -webkit-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

img#lab-background{
    visibility: hidden;
}

#lab-background {
    margin-left: 0;
}