body {
    font-family: RooneySans, Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

 /* OVERLAY */
.overlay{
  position: relative;
  z-index: 2;
  background: none;
  opacity: 0;
  transition: opacity 5s cubic-bezier(0.04, 0.78, 0.24, 0.99);
  -webkit-transition: opacity 5s cubic-bezier(0.04, 0.78, 0.24, 0.99);
  font-family: ProximaNova;
  text-align: center;
  color: white;
  padding-top: 19%;
  /* height: 0; */
  /* max-height: 0; */
  padding: 0;
  display: none;
  /* background: rgba(255, 255, 255, 0.55); */
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: 10px; */
  position: absolute;
  /* height: 100vh; */
  /* background: rgba(255, 255, 255, 0.83); */
  left: 60px;
  right: 60px;
  top: 60px;
  bottom: 60px;
}

div#main {
    padding-top: 0;
    visibility: visible;
}

/* HEADER */

#logo{
  height: 36px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-family: ProximaNova;
    text-shadow: 1px 0 0 #333;
    font-weight: 300;
    top: 0;
}

div#logo-container {
    height: 100%;
    width: 150pt;
    max-width: 200px;
    float: left;
    vertical-align: bottom;
    background: hsl(0, 0%, 95%);
    text-align: center;
    padding-top: 5px;
}

nav {
    float: left;
    width: calc(100% - 300pt);
    width: -webkit-calc(100% - 300pt);
    height: 100%;
}

nav>ul>li {
    display: inline-table;
    width: 16.667%;
    vertical-align: bottom;
    text-align: center;
    height: 100%;
}

nav>ul {
    vertical-align: middle;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-family: ProximaNova;
    font-size: 16px;
}

/* fake nav */

nav>ul>li>a.active {
    /* text-shadow: none; */
}

.full-wh-footer>.btn {
    height: 100%;
}

nav:not(#fake-nav)>ul>li>a:hover {
    background: rgba(0, 0, 0, 0.3);
}

#fake-nav>ul>li>a {
    color: #333;
    text-shadow: none;
    font-weight: normal;
}

#fake-nav>ul {
    background: rgb(0, 202, 148);
    width: 600%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#fake-nav>ul>li {
    /* width: 100%; */
}

nav#fake-nav {
    left: 150pt;    
    top: 0;    position: absolute; 
    width: 13%;   
    width: calc(16.667% - 50pt);    
    width: -webkit-calc(16.667% - 50pt);    
    overflow: hidden;    
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}



/* SECTIONS */


.full-wh-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 50px;
  background: hsla(0, 0%, 0%, 0.1);
  text-align: center;
  z-index: 2;
}

.btn {
    background: #0C9EFF;
    padding: 3px 20px;
    font-size: 14pt;
    vertical-align: middle;
    color: white;
    display: inline-block;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 2px 2px 0 0;
}

.btn:hover{
  background: #0091F2;
}

.ghost {
    visibility: hidden !important;
    display: none;
}

.intro-text>span {
    /* background: rgb(18, 18, 18); */
    padding: 5pt 20pt;
    border-radius: 4px;
    /* box-shadow: inset 1px 0px 1px 2px black; */
    background: hsl(350, 100%, 62%);
    color: hsl(0, 100%, 100%);
    /* background: rgba(255, 255, 255, 1); */
}

.main-container{
    height: 100%;
    width: 100%;
}

.main-pane{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.left-pane{
    background: hsl(0, 0%, 95%);
    border-right: 1px solid #333;
}

.right-pane {
    background: #2A2835;
    border-left: 1px solid #333;
    position: relative;
}

.main-pane.right-pane>canvas {
    position: absolute;
    left: 0;
    top: 0;
    background: hsl(250, 14%, 26%);
}

.main-pane.right-pane>.overlay-canvas {
    z-index: 1;
    background: none;
}

/*CODE SNIPPET*/

.js-file-line-container {
  border-collapse: collapse;
  border-spacing: 0;
  color: hsl(0,0%,95%);
  width: 100%;
}

.js-file-line-container td {
    /* opacity: 0; */
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.blob-code {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: hsl(0,0%,95%);
  vertical-align: top;
  white-space: pre;
  overflow: visible;
  word-wrap: normal;
}

.pl-k, .pl-s, .pl-st {
  color: #a71d5d;
}

.pl-pds, .pl-s1, .pl-s1 .pl-pse .pl-s2, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre, .pl-src {
    color: hsl(0,0%,95%);
}

.pl-c1, .pl-mdh, .pl-mm, .pl-mp, .pl-mr, .pl-s1 .pl-v, .pl-s3, .pl-sc, .pl-sv {
  color: #0086b3;
}

.pl-c {
  color: #969896;
}

.blob-num {
  width: 1%;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  vertical-align: top;
  text-align: right;
  border: solid #eee;
  border-width: 0 1px 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* OVERLAY TEXT */

.intro-text {
    text-align: center;
    width: 100%;
    font-weight: 500;
    line-height: 2.8em;
}

h1.intro-text {
    font-size: 60pt;
}

h2.intro-text {
    font-size: 40pt;
    font-weight:400
}


/* SIDE MENU */


.menu{
  position: absolute;
  background: #2A2835;
  width: 400px;
  top: 0;
  height: 100%;
  z-index: 2;
  padding-top: 60px;
}

.menu.menu-right{
    border-top-left-radius: 2pt;
    border-bottom-left-radius: 2pt;
    right: 0;
    overflow-x: hidden;
}

.menu .menu-nav{
    height: 45px;
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.menu .menu-nav>a {
    color: white;
    text-decoration: none;

    font-size: 20pt;
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    background: #0C9EFF;
}

.menu .menu-nav>a:hover{
    background: #0091F2;
}

.menu .menu-nav a.icon-arrow-left {
    text-align: center;
}

.menu .menu-nav a.icon-arrow-right {
    text-align: center;
}

.menu .menu-nav >.title {
    padding: 10pt;
    font-size: 14pt;
    color: white;
    display: table-cell;
    text-align: center;
}

.menu>.menu-body {
    width: 100%;
    display: inline-block;
    color: white;
    padding: 20px 20px;
    overflow: auto;
    max-height: 85%;
    max-height: calc( 100% - 98px);
    max-height: -webkit-calc( 100% - 98px);
}

.menu h1 {
    font-family: ProximaNova;
    font-size: 16pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 300;
}

.menu a.menu-link.external {
    font-size: 12pt;
}

.menu .menu-body>p {
    color: hsl(0, 0%, 85%);
    font-weight: 300;
    padding-bottom: 20px;
}

.menu-footnote {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 9pt;
    color: hsl(0, 0%, 80%);
}

ul.menu-reflist {
    padding-bottom: 20px;
    padding-top: 5px;
}

ul.menu-reflist>li{
    list-style: none;
}

.menu-body a{
  color: rgb(0, 202, 148);
    text-decoration: none;
}

.menu-body a:hover {
    text-decoration: underline;
}

.menu-reflist>li>span {
    margin-right: 5pt;
}


svg.menu-difficulty{
  margin-bottom: 20px;
  margin-top: 5px;
}

ul.menu-tags {
  padding-bottom: 20px;
  padding-top: 5px;
}

ul.menu-tags > li {
  list-style: none;
  display: inline-block;
  border: 1px solid rgb(255, 10, 51);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding: 2pt 3pt;
  margin: 0px 4pt 3pt 0;
  border-radius: 3pt;
  background: rgba(122, 30, 46, 0.298039);
  font-size: 10pt;
}

.menu-difficulty .star {
    fill: hsl(0, 0%, 60%);
}

.menu-difficulty .overlay polygon.star {
    fill: hsl(350, 100%, 52%);
}

@media (max-width: 1366px){
  
  h1.intro-text{
    font-size: 45pt;
  }

  h2.intro-text {
    font-size: 30pt;
  }

}