#plate.front {
    -webkit-transform: rotateY(0deg);
}

.wing {
    background: url('wing1.png') center center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    position: absolute;
    -webkit-transform-origin: 0 0 0;
    -webkit-perspective: 1;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1.3s linear;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-top: 240px solid hsla(0, 0%, 0%, 0);
    border-bottom: 0px solid hsla(0, 0%, 0%, 0);
    border-right: 100px solid hsl(0, 0%, 88%);
    width: 0;
    height: 0;
    bottom: 0;  
}

#container {
    -webkit-perspective: 600;
    -webkit-perspective-origin: 200px 131px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.8s ease-in-out;
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 400px;
    height: 260px;
    top: 300px;
    left: 300px;
    text-align: center;
    display: block;
}

#plate {
    z-index:3;
    background: hsl(0, 0%, 88%);
    -webkit-transform: rotateY(0deg);
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    width: 400px;  height: 260px;  top: 300px;  left: 300px;
    -webkit-transform: rotateY(-180deg);
    -webkit-transition: all 0.8s ease-in-out;
}

#left-wing,#right-wing {
    -webkit-transform-style: preserve-3d;
    width: 200px;
    height: 260px;
    display: block;
    position: absolute;
    top: 0px;
    -webkit-transition: all 1s ease-in-out;
}

#left-wing {
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 100% 50% 0;
    left: 0;
}

#right-wing {
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: 0% 50%;
    left: 199px;
}

.wing1 {
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
}

.wing2 {
    -webkit-transform: rotateZ(22.62deg);
    -webkit-transform-origin: 100% 100%;
    border-left: 100px solid hsl(0, 0%, 88%);
    border-right: none;
    left: 100px;
}

.wing3 {
    -webkit-transform: rotateZ(-22.62deg);
    -webkit-transform-origin: 0% 100%;
    border-right: 100px solid hsl(0, 0%, 88%);
}

.wing4 {
    -webkit-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
    -webkit-transform-origin: 0% 100%;
    border-right: none;
    border-left: 100px solid hsl(0, 0%, 88%);
    left: 100px;
}

#container.hover #left-wing {
    -webkit-transform: rotateY(60deg);
}

#container.hover #right-wing {
    -webkit-transform: rotateY(-60deg);
}

#container.hover.fly_away_first {
    -webkit-transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
    -webkit-transition-delay: 0;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
}

#container.hover.fly_away_first.fly_away {
    -webkit-transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg); 
    -webkit-transition: -webkit-transform 2s ease-out, opacity 1.5s 0.5s linear;
     opacity: 0;
}

html {
    height: 100%;
    width: 100%;
    background-color: #001;
    background-image: -webkit-radial-gradient(white 2%, transparent 3%), radial-gradient(white 1%, transparent 2%), radial-gradient(white 2%, transparent 3%);
    -webkit-background-size: 100px 100px;
    background-position: 0 0, 20px 50px, 60px 10px;
}

body {
    -webkit-perspective: 800;
    -webkit-perspective-origin: 500px 500px;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 13%, 1) 0%,hsla(0, 0%, 16%, 0.71) 50%,hsl(0, 0%, 34%) 50%, hsl(0, 0%, 15%) 100%);
    height: 100%;
}

#container.hover .wing1 {
    -webkit-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
    border-right: 100px solid hsl(0, 0%, 95%);
}

#container.hover .wing2 {
    border-left: 100px solid hsl(0, 0%, 85%);
}

#container.hover .wing3 {
    border-right: 100px solid hsl(0, 0%, 71%);
}

#container.hover .wing4 {
    -webkit-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
    border-left: 100px solid hsl(0, 0%, 95%);
}

#container.hover {
    -webkit-transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
    -webkit-transition-delay: 0.5s;
}

#container.beginning {
    -webkit-transform: rotateY(180deg);
}

.message {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 140px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    font-family: Helvetica, Arial, Verdana;
    line-height: 20px;
}
.send {
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    border: 2px solid hsl(194, 100%, 72%);
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    background-color: hsl(0, 0%, 94%);
}
.send:active {
    -webkit-transform: scale(0.85);
    -webkit-transition: all 10ms ease-in-out;
    background-color: hsl(0, 0%, 85%);
    border: 2px solid hsl(194, 30%, 55%);
}

.curvable.top_left {
    -webkit-transform-origin: 100px 112px;
    -webkit-transition-delay: 1300ms;
    width: 0;  
    height: 0;
    top: 0;
    border-right: 202px solid hsla(0, 0%, 0%, 0);
    border-bottom: 202px solid hsla(0, 0%, 0%, 0);
    border-top: 223px solid hsl(0, 0%, 88%);
}
.curvable {
    -webkit-transition: -webkit-transform 500ms ease-out;
    -webkit-backface-visibility: hidden;
    position: absolute;
    background-color: transparent;
    z-index: 0;
    width: 0;
}
.top_right.curvable {
    right: 0;
    border-left: 202px solid hsla(0, 0%, 0%, 0);  
    border-bottom: 202px solid hsla(0, 0%, 0%, 0);  
    border-top: 224px solid hsl(0, 0%, 88%);
    -webkit-transform-origin: 96px 112px;
    -webkit-transition-delay: 1650ms;
}
.bottom_left.curvable {
    -webkit-transform-origin: 109px 0;
    -webkit-transition-delay: 2100ms;
    width: 109px;
    height: 38px;
    background: hsl(0, 0%, 88%);
    bottom: 0;
    left: 0;
}
.bottom_left.curvable:after {
    position: absolute;
    content: "";
    border-right: 92px solid hsla(0, 0%, 0%, 0);  
    border-bottom: 39px solid hsl(0, 0%, 88%);  
    border-top: 37px solid hsla(0, 0%, 0%, 0);
    left: 109px;
    bottom: 0;
}
.bottom_right.curvable {
    -webkit-transform-origin: 0px 0;
    -webkit-transition-delay: 2450ms;
    width: 109px;  
    height: 38px;  
    background: hsl(0, 0%, 88%);  bottom: 0;  
    right: 0;
}


.bottom_right.curvable:after {
    position: absolute;
    content: "";
    border-left: 92px solid hsla(0, 0%, 0%, 0);
    border-bottom: 39px solid hsl(0, 0%, 88%);
    border-top: 37px solid hsla(0, 0%, 0%, 0);
    left: -92px;
    bottom: 0;
}

.top_left.curvable.curved {
    -webkit-transform: rotate3d(1,-1.11,0,180deg);
}
.bottom_left.curvable.curved {
    -webkit-transform: rotate3d(2.4867,1,0,-180deg);
}
.bottom_right.curvable.curved {
    -webkit-transform: rotate3d(-2.4867,1,0,180deg);
}
.top_right.curvable.curved {
    -webkit-transform: rotate3d(1,1.11,0,180deg);
}

#container.hover .wing {
    -webkit-backface-visibility: visible;
}

#container.hover .curved {
    display: none;
}
