html,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

canvas{
  display: inline-block;
}

body{
  background: hsl(275, 53%, 3%);
  text-align: center;
}


canvas#dst:hover {
    
	cursor: none;
}

span, a{
  color: #dedede;
  padding: 5px 10px;
}

